
.estoqueContainer {
    padding: 2rem;
    font-family: 'Montserrat', sans-serif;
}

.header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    border-radius: 10px;
}

.header h1 {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--DARK_BLUE);
    margin: 0;
}

.headerActions p {
    background-color: transparent;
    border: 1px solid var(--BORDER_LIGHT);
    border-radius: 8px;
    padding: 0.75rem 1.25rem;
    font-size: 0.9rem;
    color: var(--TEXT-MUTED);
}

.actionsContainer {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.actionButton {
    padding: 12px 35px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color .3s ease, transform .3s ease;
    margin-top: 20px;
    border: none;
    background-color: var(--PRIMARY_TEAL);
    color: white;
   
}

.actionButton:hover {
    background-color: var(--DARK_BLUE);
    transform: translateY(-3px);
}

.tableContainer {
    /* background-color: var(--WHITE); */
}

.productTable {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1rem;
}

.productTable th {
    text-align: left;
    padding: 0 1rem 1rem 1rem;
    color: var(--TEXT-MUTED);
    font-weight: 500;
    font-size: 0.9rem;
    text-transform: none;
    border: none;
}

.productTable tbody tr {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: var(--SHADOW_LIGHT);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.productTable tbody tr:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.productTable td {
    padding: 1.5rem 1rem;
    vertical-align: middle;
    color: var(--TEXT-DARK);
    font-weight: 500;
    border: none;
}

.productTable td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.productTable td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.rowActions {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.editRowButton, .removeRowButton {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 0.9rem;
    transition: filter 0.2s ease;
}

.editRowButton:hover, .removeRowButton:hover {
    filter: brightness(0.9);
}

.editRowButton {
    background-color: var(--GREEN_ADD);
}

.removeRowButton {
    background-color: var(--RED_DELETE);
}