
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


@font-face {
  font-family: 'Montserrat';
  src: url('frontend/public/assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('frontend/public/assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #f8f8f8;
  color: var(--TEXT-DARK);
}


:root {

    --PRIMARY_TEAL: #2d5a6a;
    --DARK_BLUE: #21434e;
    --LOGO-ACCENT: #b2d8d8;
    --BLUE: #007bff;

    --BG: #f3f3f2

;
    --CARD-WHITE: #ffffff;
    --WHITE: #ffffff;
    --BORDER_LIGHT: #ddd;

    --TEXT-DARK: #212529;
    --TEXT-MUTED: #6c757d;
    --BLACK: #121212;

    --RED_DELETE: #e74c3c;
    --GREEN_ADD: #2ecc71;
    --YELLOW: #daa922;
    --ORANGE: #ff6600;


    --SHADOW_LIGHT: 0 2px 5px rgba(0, 0, 0, 0.08);
    --TABLE_HEADER_BG: #f2f2f2;
    --TABLE_ROW_EVEN_BG: #f9f9f9;
}

  