
.dashboardContainer {
  width: 100%;
  padding: 40px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 32px;
}



.mainTitle {
  font-size: 2.25rem;
  font-weight: 700;
  color: #212529;
  margin: 0;
}

.subtitle {
  font-size: 1.125rem;
  color: #6c757d;
  margin-top: 8px;
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}



.sectionTitle {
    font-size: 1.75rem;
    font-weight: 600;
    color: #343a40;
    margin-bottom: 24px;
    padding-bottom: 16px;
    border-bottom: 1px solid #e9ecef;
}