
.loginPageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

.logoBox {
  display: none; 

}

.loginContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--DARK_BLUE);
  padding: 1rem;
}

.loginBox {
  background-color: var(--WHITE);
  padding: 2.5rem;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 400px;
  text-align: center;
}


.loginTitle {
  margin-bottom: 3rem;
  color: var(--PRIMARY_TEAL);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.errorMessage {
  color: var(--RED_DELETE);
  margin-bottom: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.btn {
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-radius: 15px;
  background-color: var(--PRIMARY_TEAL);
  color: var(--CARD-WHITE);
  cursor: pointer;
  margin-top: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 14px;
  transition: all .5s ease;
}

.btn:hover {
  background-color: var(--DARK_BLUE);
  transform: translateY(-3px);
}

.linkText {
  margin-top: 2rem;
  color: var(--TEXT-MUTED);
  font-family: 'Montserrat', sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.link {
  color: var(--DARK_BLUE);
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;

}

.hover {
  display: inline-block;
  transition: transform 0.3s ease;
}

.hover:hover {
  transform: translateY(-3px);
}



@media (min-width: 768px) {
  .loginPageContainer {
    flex-direction: row;
  }

  .logoBox {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    background-color: var(--BG); 
  }

  .logo {
    max-width: 300px;
    height: auto;
  }

  .loginContainer {
    width: 50%;
    padding: 0;
  }
}