

.revenueContentArea {
    padding: var(--spacing-lg);
}


.revenueMetricsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
    gap: 12px;
    padding: 12px;
    margin-bottom: var(--spacing-lg);
}

.positiveProfit {
    color: var(--GREEN_ADD); 
}

.negativeProfit {
    color: var(--RED_DELETE); 
}

.revenueActivity {
    margin-bottom: 15px; 
    margin-top: 20px;
}


